/*==================================================*/
/*====================== Cores =====================*/
/*==================================================*/

// /* Content */
$content-background: $menu-divisor-background;
$content-title: #000000;
$content-card-background: $header-icons;
$content-card-title: #274333;
$content-card-text: #4D4D4D;
$content-card-link: #39B34A;
$content-card-arrow-icons: #95989A;
$content-card-completed-icon: $content-card-link;
$content-card-visited-icon: #EDD15D;
$content-card-notvisited-icon: #CAD9CB;

// /*==================================================*/
// /*================ Página principal ================*/
// /*==================================================*/

/* Altura da margem do topo */
#page {
    margin-top: 70px;
}
  