/*==================================================*/
/*====================== Cores =====================*/
/*==================================================*/

// /* Content */
$content-background: $menu-divisor-background;
$content-title: #000000;
$content-card-background: $header-icons;
$content-card-title: #274333;
$content-card-text: #4D4D4D;
$content-card-link: #39B34A;
$content-card-arrow-icons: #95989A;
$content-card-completed-icon: $content-card-link;
$content-card-visited-icon: #EDD15D;
$content-card-notvisited-icon: #CAD9CB;

// /*==================================================*/
// /*================ Página principal ================*/
// /*==================================================*/

/* Altura da margem do topo */
#page {
    margin-top: 130px;
}

[data-region="blocks-column"] {
    display: none;
}

#region-main-settings-menu.has-blocks, #region-main.has-blocks {
    width: 100%;
}

// Questionários

.alert-info, #page-admin-index .releasenoteslink, #adminsettings .form-overridden, .que .formulation {
    background-color: #fff;
    border-color: #fff;
    color: #31708f;
}

.que .info {
    float: none;
    width: 100%;
}

.que .content {
    margin: 0 0 0 0;
}
